#account{

    .tabs{
        background: transparent;
        margin-bottom: 20px;
    }

    & .input-field{
        width: 100%;

        & input{
            width: 100%;
        }
    }

    [data-group]{
        display: none;

        &.visible{
            display: block;
        }
    }

    @media(max-width: 600px){

        & .hide-on-mobile{
            display: none;
        }

        & .subtable-wrapper{
            max-width: calc(100vw - 20px);
            overflow-x: auto;
            box-shadow: 0 0 4px rgba(black, .4) inset;
            padding: 0 10px;
        }

        & tr{
            
            & td{
                
                white-space: nowrap;
            }
        }
    }

    & .actions-wrapper{

        text-align: right;
        position: relative;

        & > a{
            line-height: 30px;
            display: inline-block;
            width: 30px;
            text-align: center;
        }

        & .actions{
            position: absolute;
            text-align: right;
            margin: 0;
            opacity: 0;
            pointer-events: none;
            right: 0;
            z-index: 20;
            transform: translateY(-20px);
            transition: transform .3s, opacity .3s;

            & a{
                display: block;
                white-space: nowrap;
                padding: 0 10px;
                background: #ffffff;

                &:hover{
                    background: #fafafa;
                }
            }
        }

        &:hover .actions{
            opacity: 1;
            pointer-events: all;
            transform: translateY(0);

        }
    }

    & table{


        & > tbody{

            & > tr{

                &:nth-child(2n + 1){
                    background: transparent;
                }

                &:nth-child(4n + 1){
                    background: #eee;
                }
            }
        }
    }

    & .subtable-wrapper{
        display: none;

        & .subtable{
            border-spacing: 0;
            width: 100%;

            & td, & th{
                line-height: 2rem;
            }
        }
    }
}
