#checkout-wrapper{

    & .input-field{
        width: 100%;
    }

    & .delivery-list{
        margin-bottom: 20px;
    }

    & .delivery-cost{
        color: $accent;
    }

    & .total{
        width: fit-content;
        float: right;
        border-top: 1px solid #ccc;
        padding-top: 10px;
        margin-top: 10px;
    }
    
    & .address-list{
        
        & input[type="radio"]{

            &[value="user-address"]{

                & + label{
                    margin-bottom: 20px;
                }
            }
        }
    }

    & table{

        & td{
            line-height: 40px;
        }
    }

    & .mdi{

        &.mdi-delete{
            font-size: 21px;
        }
    }

    & .material-table{

        @media(max-width: 600px){

            display: block;

            & thead{
                display: none;
            }

            & tbody{
                display: block;

                & .order{
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    padding: 6px 0;

                    & td{
                        flex-grow: 1;
                        padding: 0;
                    }
                }
            }
        }
    }
}