$lighting-amount: 10;
$accent-hover: saturate(lighten($accent, $lighting-amount), 40);
$white: #fff;
$white-hover: #fff;

.btn{
	display: inline-block;
	color: #fff;
	padding: 5px 14px;
	font-family: 'Neucha';
	filter: blur(.3px);
	position: relative;
	font-family: Oswald;
	font-size: 18px;
	transition: color .2s;
	border-color: black;
	background-color: black;
	border-style: solid;
	border-width: 1px 2px 3px 2px;
	border-radius:7px 16px 16px 16px/7px 2px 15px 3px;

	&.outlined{
		color: black;
		background-color: transparent;
	}

	&.accent{
		
		color: #fff;
		border-color: $accent;
		background-color: $accent;

		&.outlined{
			color: $accent;
			background-color: transparent;

			&:hover{
				color: $accent-hover;
				background: transparent;
				border-color: $accent-hover;
			}
		}

		&:hover{
			background: $accent-hover;
			border-color: $accent-hover;
		}
	}

	&.btn-white{
		color: black;
		background: transparent;
		border-color: darken(#fff, $lighting-amount);
		background: darken(#fff, $lighting-amount);

		&.outlined{
			color: darken(#fff, $lighting-amount);
			background: transparent;

			&:hover{

				color: $white-hover;
				border-color: $white-hover;
				background-color: transparent;
				background-color: rgba($white, .5);
			}
		}

		&:hover{

			&:before{
				border-color: $white-hover;
				background-color: $white-hover;
			}
		}
	}

	&:hover{

		&:before{
			box-shadow: 0 4px 4px rgba(black, .4);
		}
	}
}