.floating-cart{
    position: fixed;
    right: 20px;
    z-index: 200;
    background: #fff;
    padding: 10px 20px;
    top: -60px;
    transition: top .4s;
    box-shadow: 0 1px 3px rgba(black, .2);
    border-width: 1px 2px 3px 2px;
	border-radius:7px 16px 16px 16px/7px 2px 15px 3px;
    

    &.shown.visible{
        top: 0;
    }

    @media(max-width: 600px){

        right: 120px;
        box-shadow: none;
        top: 16px;

        &.shown.visible{
            top: 16px;
        }
    }

    & .floating-cart-empty-content{
        display: none;
    }
}