body{

	font-family: 'Nunito';
	background: $paper;
	line-height: 1.6rem;

	& .add-cart{

		display: inline-flex;

		& .minus, & .plus{
			line-height: 30px;
			padding: 0 12px;
		}

		& input{
			width: 30px;
			text-align: center;
			background-color: transparent;
			border: 0;
		}
	}

	& .hidden{
		display: none !important;
		pointer-events: none;
	}

	& a{
		cursor: pointer;
	}

	& input[type="radio"].styled{

		display: none;

		& [name=address]{
			display: none;
		}

		& + label{

			padding-left: 30px;
			position: relative;
			cursor: pointer;
			display: inline-block;

			&:before{
				content: '';
				display: block;
				position: absolute;
				width: 30px;
				height: 30px;
				top: -4px;
				left: -10px;
				border-radius: 50%;
				background: url('../img/splash.svg') center center no-repeat;
				transform: scale(0);
				transition: transform .3s cubic-bezier(.55,-0.1,.36,1.25), background-size .3s cubic-bezier(.55,-0.1,.36,1.25);
			}
			
			&:after{
				content: '';
				display: block;
				position: absolute;
				width: 10px;
				height: 10px;
				top:6px;
				left: 0;
				border-radius: 50%;
				transform: scale(.5);
				background: $accent;
				transition: transform .3s cubic-bezier(.55,-0.1,.36,1.25);
			}

			&:hover{

				&:after{
					transform: scale(.8);
				}
			}
		}

		&:checked + label{
				
			&:before{
				transform: scale(.7);
			}

			&:after{
				transform: scale(.3);
			}
		}
		
	}

	& .lazy-image{
		position: relative;

		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		&.contains{
			background-size: contain;
		}

		&.quadro{
			padding-top: 100%;
		}
	}
	
	& .lined-block{
		border-bottom: 1px solid $fogged;
		line-height: 30px;
		margin-bottom: 10px;
	}

	& .kv-table{

		width: 100%;
		border-spacing: 0;
		border-collapse: collapse;
		margin: 15px 0;

		& thead{

			& th{
				text-align: left;
				font-size: 10px;
				text-transform: uppercase;
				border-bottom: 1px solid black;
				padding-bottom: 6px;
			}
		}

		& tbody{
			
			& td{
				background-color: #e7e7e7;
				line-height: 20px;
				padding: 6px;
				white-space: nowrap;

				&.header{
					width: 260px;
					background-color: transparent;
				}
			}
		}

		@media(max-width: 1300px){

			display: block;
			overflow-x: auto;

			& thead{
				display: none;
			}

			& tbody{

				display: flex;

				& tr{
					display: flex;
					flex-grow: 1;
					flex-direction: column;

					& td{

						flex-grow: 1;

						& .hide-mobile{
							display: none;
						}

						&.header{
							width: fit-content;
						}
					}
				}
			}
		}
	}

	img.responsive-img,
	video.responsive-video {
		max-width: 100%;
		height: auto;
	}

	& .global-wrapper:not(#main){
		
		&:before{
			content: '';
			display: block;
			margin-bottom: 30px;
			height: 57px;
			background: url(/img/rough/top_white.svg) top center;
			background-repeat: repeat-x;

			@media(max-width: 600px){
				background: none;
				height: 0px;
			}
		}

		&:after{
			content: '';
			display: block;
			height: 50px;
		}
	}

	& form{

		& .input-field{

			display: inline-block;
			transform: translateY(-1px);
			border-width: 1px 2px 3px 2px;
			border-radius:7px 16px 16px 16px/7px 2px 15px 3px;
			border-color: #aaa;
			border-style: solid;
			margin-bottom: 20px;

			& input[type="text"], 
			& input[type="phone"],
			& input[type="password"],
			& input[type="mail"],
			& textarea{
				width: 100%;
				border: 0;
				padding: 0 10px;
				line-height: 36px;
				background: transparent;
				display: block;
				// color: #fff;
				border-color: #fff;
				border-style: solid;


				&:focus{
					outline: none;
				}
			}

			&.text-area{
				border-width: 1px 2px 3px 2px;
				border-radius:7px 16px 16px 16px/7px 2px 15px 3px;
			}

			& textarea{
				height: 200px;
			}
		}
	}

	& .modal{
		position: fixed;
		z-index: 300;
		top: 50%;
		left: 50%;
		background: #fff;
		padding: 20px;
		border-width: 1px 2px 3px 2px;
		border-radius:7px 16px 16px 16px/7px 2px 15px 3px;
		box-shadow: 0 8px 8px rgba(black, .4);
		transform: translate(-50%, 0%);
		transition: transform .4s, opacity .4s;
		opacity: 0;
		pointer-events: none;
		max-width: 360px;

		& .errors{
			background: $accent;
			color: #FFF;
			width: calc(100% + 40px);
			box-sizing: border-box;
			padding: 6px 20px;
			margin: 0 10px 10px -20px;

			& p{
				margin: 0;
			}
		}


		& .input-field{

			display: block;
			min-width: 320px;
		}
		
		&.opened{
			transform: translate(-50%, -50%);
			pointer-events: all;
			opacity: 1;
			
			& ~ .shadow{
				opacity: 1;
				pointer-events: all;
			}
		}
		
		& .modal-header{
			font-family: Oswald;
			text-transform: uppercase;
			font-size: 24px;
			margin-bottom: 20px;
		}
		
		& .float-right{
			float: right;
		}
		
		& .extra-actions{
			margin-bottom: 20px;
		}
		
		& ~ .shadow{
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(black, .7);
			transition: opacity .4s;
			opacity: 0;
			pointer-events: none;
			z-index: 299;
		}
	}

	& p{
		line-height: 1.6rem;
	}

	// Z-levels
	& .z-depth-0 {
		box-shadow: none !important;
	}

	/* 2dp elevation modified*/
	& .z-depth-1 {
		box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
					0 3px 1px -2px rgba(0,0,0,0.12),
					0 1px 5px 0 rgba(0,0,0,0.2);
	}
	& .z-depth-1-half {
		box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
	}

	/* 6dp elevation modified*/
	& .z-depth-2 {
		box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),
					0 1px 10px 0 rgba(0,0,0,0.12),
					0 2px 4px -1px rgba(0,0,0,0.3);
	}

	/* 12dp elevation modified*/
	& .z-depth-3 {
		box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14),
					0 3px 14px 2px rgba(0,0,0,0.12),
					0 5px 5px -3px rgba(0, 0, 0, 0.2);
	}

	/* 16dp elevation */
	& .z-depth-4 {
		box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14),
					0 6px 30px 5px rgba(0,0,0,0.12),
					0 8px 10px -7px rgba(0,0,0,0.2);
	}

	/* 24dp elevation */
	& .z-depth-5 {
		box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14),
					0 9px 46px 8px rgba(0,0,0,0.12),
					0 11px 15px -7px rgba(0,0,0,0.2);
	}

	& .hoverable {
		transition: box-shadow .25s;

		&:hover {
			box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}
	}

	// Dividers

	& .divider {
		height: 1px;
		overflow: hidden;
		background-color: color("grey", "lighten-2");
	}

/*******************
  Utility Classes
*******************/

.hide {
	display: none !important;
  }
  
  // Text Align
  .left-align {
	text-align: left;
  }
  .right-align {
	text-align: right
  }
  .center, .center-align {
	text-align: center;
  }
  
  .left {
	float: left !important;
  }
  .right {
	float: right !important;
  }
  
  // No Text Select
  .no-select {
	user-select: none;
  }
  
  .circle {
	border-radius: 50%;
  }
  
  .center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
  }
  
  .truncate {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
  }
  
  .no-padding {
	padding: 0 !important;
  }
}

a{
	text-decoration: none;
	color: $accent;

	&.underlined{

		text-underline-offset: 2px;

		&:hover{
			text-decoration: underline;
		}
	}

}

p, li{
	text-align: justify;
}

h1{
	font-family: 'Oswald';
	font-size: 36px;
	font-weight: 500;
	line-height: 2.6rem;

	@media(max-width: 600px){
		font-size: 28px;
	}
}

h2{
	font-family: Oswald;
	font-size: 28px;
	font-weight: 500;

	@media(max-width: 600px){
		font-size: 21px;
	}
}

.row{
	&.flex{
		display: flex;
		flex-wrap: wrap;
	}
}

.sidenav{

	padding: 0;
	list-style: none;
	
}

input, a, .btn, button{

	&:focus{
		outline: none;
	}

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

.dropdown-container{

	position: relative;
	min-height: 40px;

	& .current{
		line-height: 50px;
		min-height: 50px;
		padding-top: 10px;
		border-bottom: 1px solid black;
		font-family: Oswald;
		font-size: 24px;
		cursor: pointer;
		white-space: nowrap;
		user-select: none;
		padding-right: 16px;
		background: url(../img/dropdown-arrow.svg) right bottom 20px no-repeat;

		& + .label{
			position: absolute;
			top: 0;
			font-size: 12px;
			pointer-events: none;
			transition: font-size .2s, top .2s;
		}

		&:empty + .label{
			font-size: 16px;
			top: 26px;
		}
	}

	& .popup{
		margin: 0;
		padding: 0;
		position: absolute;
		width: 100%;
		min-width: fit-content;
		z-index: 20;
		background: #fff;
		border-radius: 4px;
		box-shadow: 0 2px 4px rgba(black, .4);
		left: 0;
		top: 100%;
		max-height: 216px;
		overflow: auto;
		transition: transform .2s, opacity .2s;
		pointer-events: none;
		transform: translateY(-10px);
		opacity: 0;

		&.open{
			transform: none;
			opacity: 1;
			pointer-events: all;
		}

		& li{
			list-style: none;
			
			& a{
				line-height: 36px;
				min-height: 36px;
				padding: 0 10px;
				display: block;

				&:hover{
					background-color: #ececec;
				}
			}
		}
	}
}

.remark{
	font-size: 12px;
	color: $fogged;
	line-height: 16px;
}

.gallery-entry{

	margin-bottom: 20px;

	& .entry-image{
		display: block;
		padding-top: 65%;
		background-size: contain;
		background-color: rgba(black, .1);

		&.active{

			background-color: transparent;
			
			@media(max-width: 600px){
				padding-top: 125% !important;
				transform: translateY(-15vh);
			}

			&:hover{
				box-shadow: none;
			}
		}
	}
}

::-webkit-scrollbar{
	width: 8px;
	height: 8px;
	background: #fff;
}

::-webkit-scrollbar-thumb{
	background: $accent;
	border-radius: 4px;
	box-shadow: 0 0 0 2px #fff inset;
}