header{

	background: #fff;

	@media(max-width: 600px){
		position: sticky;
		top: 0;
		box-shadow: 0 2px 6px rgba(black, .3);
		z-index: 200;
	}

	& .nav-wrapper{
		display: flex;
		padding: 20px 0;

		@media(max-width: 600px){
			padding: 0;
		}

		.logo-wrapper{

			flex-grow: 1;

			& .logo{
				display: inline-block;
				width: 245px;
				height: 77px;
				background: url(../img/naivno_logo.svg) center left;
				background-repeat: no-repeat;

				@media(max-width: 600px){
					width: 150px;
					background-size: contain;
				}
			}
		}
	}

	& .menu{
		display: flex;
		padding: 0 20px;
		flex-grow: 1;
		justify-content: flex-end;

		& a{
			padding: 0 10px;
			line-height: 74px;
			white-space: nowrap;

			&:hover{
				text-decoration: underline;
				text-decoration-style: dotted;
				text-decoration-thickness: 1px;
				text-underline-offset: 2px;
			}
		}
	}

	& .profile-block{
		display: inline-block;
		margin-left: 15px;
		
		&[data-state="logged"]{

			& .unlogged{
				display: none;
			}
		}

		&[data-state="unlogged"]{

			& .logged{
				display: none;
			}
		}

		& .profile-block-logged{

			flex-shrink: 0;
			position: relative;
			margin: 0;

			&:hover .profile-menu{
				opacity: 1;
				pointer-events: all;
				// transform: translateY(10px);
			}

			& .circled{
				border-radius: 50%;
				text-align: center;
				border: 2px solid $accent;
				color: $accent;
				width: 40px;
				height: 40px;
				// transform: translateY(6px);
				
				& i{
					width: 30px;
					display: inline-block;
					font-size: 30px;
					height: 40px;
					line-height: 30px;
					margin: auto;
					transform: translateY(2px);
				}

				& + ul{
					position: absolute;
					z-index: 20;
					right: 0;
					top: 100%;
					border-radius: 4px;
					overflow: hidden;
					box-shadow: 0 1px 3px rgba(black, .2);
					opacity: 0;
					pointer-events: none;
					transition: transform .2s, opacity .2s;

					& li{
						white-space: nowrap;
						background: #fff;
						display: block;

						& a{
							display: block;
							line-height: 30px;
							padding: 0 15px;
							transition: background-color .2s;

							&:hover{
								background: rgba(black, .1);
							}
						}
					}
				}
			}
		}
	}

	& .cart-wrapper{

		flex-shrink: 0;
		
		& .btn{
			margin: 20px 0;
		}

		& .sidenav-trigger{
			line-height: 80px;
			padding-left: 40px;
			background: url(../img/burger.svg) center center no-repeat;
			background-size: contain;
			margin-left: 14px;

			@media(min-width: 1400px){
				display: none;
			}
		}
	}

	@media(max-width: 1400px){
		& .menu, & .cart-wrapper .btn{
			display: none;
		}
	}
}

.sidenav{

	& .user-view{

		& .background{
			background: url(../img/sidenav_bgr.jpg) center center no-repeat;
			background-size: cover;
		}

		& .circle{
			background-color: #fff;
		}
	}
}