header{

	background: #fff;

	@media(max-width: 600px){
		position: sticky;
		top: 0;
		box-shadow: 0 2px 6px rgba(black, .3);
		z-index: 10;
	}

	& .nav-wrapper{
		display: flex;
		padding: 20px 0;

		@media(max-width: 600px){
			padding: 0;
		}

		.logo-wrapper{

			flex-grow: 1;

			& .logo{
				display: inline-block;
				width: 245px;
				height: 77px;
				background: url(../img/naivno_logo.svg) center left;
				background-repeat: no-repeat;

				@media(max-width: 600px){
					width: 150px;
					background-size: contain;
				}
			}
		}
	}

	& .menu{
		display: flex;
		padding: 0 20px;
		flex-grow: 1;
		justify-content: flex-end;

		& a{
			padding: 0 10px;
			line-height: 74px;
			white-space: nowrap;

			&:hover{
				text-decoration: underline;
				text-decoration-style: dotted;
				text-decoration-thickness: 1px;
				text-underline-offset: 2px;
			}
		}
	}

	& .cart-wrapper{
		
		& .btn{
			margin: 20px 0;
		}

		& .sidenav-trigger{
			line-height: 80px;
			padding-left: 40px;
			background: url(../img/burger.svg) center center no-repeat;
			background-size: contain;

			@media(min-width: 1400px){
				display: none;
			}
		}
	}

	@media(max-width: 1400px){
		& .menu, & .cart-wrapper .btn{
			display: none;
		}
	}
}

.sidenav{

	& .user-view{

		& .background{
			background: url(/img/sidenav_bgr.jpg) center center no-repeat;
			background-size: cover;
		}

		& .circle{
			background-color: #fff;
		}
	}
}