.floating-cart{
    position: fixed;
    right: 20px;
    z-index: 200;
    background: #fff;
    padding: 10px 20px;
    top: -60px;
    transition: top .4s;
    box-shadow: 0 1px 3px rgba(black, .2);

    &.shown{
        top: 0;
    }

    @media(max-width: 600px){

        right: 120px;
        box-shadow: none;
        top: 16px;

        &.shown{
            top: 16px;
        }
    }

    &.empty{

        pointer-events: none;

        & .floating-cart-empty-content{
            display: block;
        }

        & .floating-cart-content{
            display: none;
        }
    }

    & .floating-cart-empty-content{
        display: none;
    }
}