.floating-cart {
  position: fixed;
  right: 20px;
  z-index: 200;
  background: #fff;
  padding: 10px 20px;
  top: -60px;
  transition: top .4s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-width: 1px 2px 3px 2px;
  border-radius: 7px 16px 16px 16px/7px 2px 15px 3px; }
  .floating-cart.shown {
    top: 0; }
  @media (max-width: 600px) {
    .floating-cart {
      right: 120px;
      box-shadow: none;
      top: 16px; }
      .floating-cart.shown {
        top: 16px; } }
  .floating-cart.empty {
    pointer-events: none; }
    .floating-cart.empty .floating-cart-empty-content {
      display: block; }
    .floating-cart.empty .floating-cart-content {
      display: none; }
  .floating-cart .floating-cart-empty-content {
    display: none; }
